doctype html
html(lang="en")
  head
    title= "wow-game-data-graphql-server"
  body
    h1 wow-game-data-graphql-server
    ul
        li
            a(href="/graphql")= "GraphQL Playground"
        li
            a(href="/api-docs/swagger")= "Swagger UI"
